<h2>Your Reminders</h2>
<p>Welcome to your reminder portal. You can manage all your reminders here.</p>            
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Reminder</th>
      <th>Description</th>
      <th>Alert Time</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="reminder in reminders">
      <td>{{ reminder.title }}</td>
      <td>{{ reminder.desc }}</td>
      <td>{{ reminder.endTime | date:'medium' }}</td>
      <td>edit/delete buttons here</td>
    </tr>
  </tbody>
</table>