extends layout

block content
  script(src='/javascripts/script.js')
  div
    div(class ='line-up')
      h1= title
    div(class = 'pull-right line-up')
      div.pull-right(style='padding-left: 5px;')
        a(class='btn btn-primary' href='/logout') <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout
      div.input-group.pull-right(style='width: 320px;')
        input#phone-number.form-control(type='text', placeholder='i.e. +1xxxxxxxxxx')
        span(class='input-group-btn')
          button(id = 'phone-button' class='btn btn-primary' style ='padding-right: 5px;' href='/logout') <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>&nbsp;Update Number
      div(style='float:none')
    div(style='float:none')
    p Welcome, #{name}!
    div
      .container.jumbotron
        .line-up
          h2 Your Reminders
        .line-up.pull-right.btn-group(itemscope itemtype="http://data-vocabulary.org/Reminder")
          button(id = 'refresh' class='btn btn-default btn-primary') <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh List
          button(id= 'create-new' class='btn btn-default btn-primary') <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Reminder
          button(id = 'delete-all' class='btn btn-default btn-primary delete-button') <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete All
        div(id="listthing" class="list-group")
 