body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: black;
  transition: font-weight 0.02s;
}
#listthing a:hover{
  color:#42c41a;
  text-decoration: none;
}

.line-up{
  display:inline-block;
}

.btn-primary{
  background: linear-gradient(#42c41a 50%, #2dbd00 50%);
  border-color: #398439;
}

.delete-button{
  background: linear-gradient(#c9302c 50%, #ac2925 50%);
  border-color: #ac2925;
}

.div-hover:hover { 
  background-color: #eee; 
}

